* {
  margin: 0;
  padding: 0;
  border: 0; }

h1 {
  font-size: 2em; }
  @media (min-width: 411px) {
    h1 {
      font-size: 2.5em; } }
  @media (min-width: 375px) {
    h1 {
      font-size: 2.6em; } }
  @media (min-width: 768px) {
    h1 {
      font-size: 2.7em; } }
  @media (min-width: 840px) {
    h1 {
      font-size: 3em; } }

h2 {
  font-size: 1.5em; }
  @media (min-width: 411px) {
    h2 {
      font-size: 1.8em; } }
  @media (min-width: 375px) {
    h2 {
      font-size: 1.7em; } }
  @media (min-width: 768px) {
    h2 {
      font-size: 2.2em; } }
  @media (min-width: 840px) {
    h2 {
      font-size: 2.4em; } }

h3 {
  font-size: 1.2em; }
  @media (min-width: 411px) {
    h3 {
      font-size: 1.5em; } }
  @media (min-width: 375px) {
    h3 {
      font-size: 1.5em; } }
  @media (min-width: 768px) {
    h3 {
      font-size: 2em; } }

p {
  font-size: 1em; }
  @media (min-width: 411px) {
    p {
      font-size: 1.15em; } }
  @media (min-width: 375px) {
    p {
      font-size: 1.15em; } }
  @media (min-width: 768px) {
    p {
      font-size: 1.3em; } }
  @media (min-width: 840px) {
    p {
      font-size: 1.3em; } }

@media (min-width: 840px) {
  .wrapper {
    display: flex; } }

.sidebar-wrapper {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 80%, 0 100%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 80%, 0 100%, 0 0);
  background-color: #0069A6;
  padding: 4vh;
  min-height: 85vh; }
  .sidebar-wrapper ul li {
    display: inline-block;
    padding: 2vh; }
    .sidebar-wrapper ul li a {
      color: #FFFB25;
      font-size: 5vh; }
  .sidebar-wrapper #greet {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: #fff;
    padding-top: 5vh; }
    @media (min-width: 840px) {
      .sidebar-wrapper #greet {
        padding-top: 6vh; } }
  .sidebar-wrapper #name {
    font-family: 'Montserrat', sans-serif;
    line-height: 7vh;
    text-align: center;
    color: #C0BE4D;
    padding-top: 5vh; }
  .sidebar-wrapper #quoteTop {
    font-family: 'Vollkorn', serif;
    color: #31AAF3;
    text-align: center;
    margin-top: 3vh; }
    @media (min-width: 768px) {
      .sidebar-wrapper #quoteTop {
        margin-top: 6vh; } }
    @media (min-width: 840px) {
      .sidebar-wrapper #quoteTop {
        margin-top: 9vh; } }
  .sidebar-wrapper #quoteBot {
    font-family: 'Vollkorn', serif;
    font-weight: bold;
    color: #FFFB25;
    text-align: center;
    margin-top: 3vh; }
    @media (min-width: 768px) {
      .sidebar-wrapper #quoteBot {
        margin-top: 4.5vh; } }
    @media (min-width: 840px) {
      .sidebar-wrapper #quoteBot {
        margin-top: 6vh; } }
  @media (min-width: 840px) {
    .sidebar-wrapper {
      -webkit-clip-path: inset(0%);
      flex-grow: 0;
      max-width: 50vw; }
      .sidebar-wrapper div.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 20px; } }

.main-wrapper #title {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  font-weight: bolder;
  color: #31AAF3;
  margin: 6vh; }

.main-wrapper .card {
  width: 90%; }

@media (min-width: 768px) {
  .main-wrapper .card {
    width: 80%; } }

.main-wrapper .about-wrapper {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 13%);
  clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 13%);
  background-color: #0069A6;
  margin-top: 9vh;
  color: #fff; }

@media (min-width: 840px) {
  .main-wrapper #title {
    color: #0069A6; }
  .main-wrapper .about-wrapper {
    -webkit-clip-path: inset(0%);
    clip-path: inset(0%);
    background-color: #fff;
    color: #000; } }

.about-wrapper .space {
  height: 20px; }

.about-wrapper #title {
  position: relative;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  font-weight: bolder;
  color: #FFFB25;
  margin: 12vh auto 4.5vh;
  z-index: 2; }

.about-wrapper img {
  border-radius: 230px;
  width: 220px; }

.about-wrapper .card {
  border: none;
  background-color: inherit; }

@media (min-width: 840px) {
  .about-wrapper #title {
    color: #0069A6; } }
