* {
  margin: 0;
  padding: 0;
  border: 0;
}

$colors: (
  primary: #0069A6,
  ang: #FF4D53,
  cool: #31AAF3,
  nasty: #C0BE4D,
  bright: #FFFB25,
  white: #fff,
  default: #000
);

$padding: 1vh;
$margin: 3vh;

@function color($color-name) {
  @return map-get($colors, $color-name);
};


$iphonex: 375px;
$ipad: 768px;
$desktop: 840px;


@mixin iphonex {
  @media(min-width: #{$iphonex}){
    @content;
  }
}
@mixin ipad {
  @media(min-width: #{$ipad}){
    @content;
  }
}
@mixin desktop {
  @media(min-width: #{$desktop}){
    @content;
  }
}

body{
  //####height: 100%;
  // max-width: 100vh;
}

h1{
  font-size: 2em;
}
h2{
  font-size: 1.5em;
}
h3{
  font-size: 1.17em;
}

@include desktop {
  .con{
    display: flex;
  }
}

.sidebar-wrapper {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 80%, 0 100%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 80%, 0 100%, 0 0);

    background-color: color(primary);
    padding: $padding * 4;
    min-height: 85vh;

  ul {
    li {
      display: inline-block;
      padding: $padding * 2;

      a{
        color: color(bright);
        font-size: 5vh;
      }
    }
  }

  #greet {
    font-family: 'Abril Fatface', cursive;
    font-size: 5vh;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: color(white);
    padding-top: $padding * 3;
    margin-top: $margin * 1;
  }

  #name {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5vh;
    line-height: 7vh;
    text-align: center;
    color: color(nasty);
    margin-top: $margin * 3;
  }

  @include desktop {
    -webkit-clip-path: inset(0%);
    // clip-path: inset(0 40% 0 0);
    //width: 1200px;
    flex-grow: 0;
    max-width: 50vw;
    //####max-height: 100vh;


    z-index: 1;
    div.sticky{
      position: -webkit-sticky;
      position: sticky;
      top: 20px;
    }

  }
}


// #quoteTop {
//   font-family: 'Vollkorn', serif;
//   font-size: 3vh;
//   color: color(bright);
//   margin-top: $margin * 3;
//   transform: rotate(-17deg);
//   position: absolute;
//   top: 63vh;
//   right: 30vw;
//   z-index: 1;
//
//   @include iphonex {
//     transform: rotate(-20deg);
//   }
//   @include ipad {
//     transform: rotate(-14deg);
//     font-size: 4vh;
//     top: 60vh;
//     right: 25vw;
//   }
//   @include desktop {
//     //position: fixed;
//   }
// }
// #quoteBot {
//   font-family: 'Vollkorn', serif;
//   font-size: 3vh;
//   font-weight: bold;
//   color: color(primary);
//   transform: rotate(-16deg);
//   position: absolute;
//   top: 77vh;
//   right: 25vw;
//
//   @include iphonex {
//     transform: rotate(-20deg);
//   }
//   @include ipad {
//     transform: rotate(-13deg);
//     font-size: 4vh;
//   }
//   @include desktop {
//     //position: fixed;
//   }
// }

.main-wrapper {

  #title {
    font-family: 'Abril Fatface', cursive;
    font-size: 5vh;
    text-align: center;
    font-weight: bolder;
    color: color(cool);
    margin: $margin *2;
  }
  .card{
    width: 90%;
  }

  @include ipad {
    .card{
      width: 80%;
    }
  }
  .about-wrapper{
    -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 13%);
    clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 13%);
    background-color: color(primary);
    //width: 100vw;
    //min-height: 100vh;
    margin-top: $margin * 3;
    color: color(white);
  }
  @include desktop {

    //margin: 0 0 0 650px;
    #title{
      color: color(primary);
    }
    .about-wrapper{
      -webkit-clip-path: inset(0%);
      clip-path: inset(0%);
      //max-height: 100vh;

      background-color: color(white);
      color: color(default);
    }
  }
}


.about-wrapper{

  .space{
    height: 20px;
  }

  #title {
    position: relative;
    font-family: 'Abril Fatface', cursive;
    font-size: 5vh;
    text-align: center;
    font-weight: bolder;
    color: color(bright);
    margin: $margin *4 auto $margin *2.5;
    z-index: 2;
  }
  img{
    border-radius: 230px;
    width: 220px;
    //margin-left: $margin *3;
  }
  .card{
    border: none;
    background-color: inherit;
  }


    @include ipad {

    }
    @include desktop {
      #title{
        color: color(primary);
      }
      img{
        //margin-left: $margin *24.5;
      }
    }

}
